@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* custom colors */
  --color-primary: #FF6464;
  --color-bgLight: #FFE8E8;
  --color-cardLight: #FFFFFF;
  --color-darkBg: #121212;
  --color-darkCard: #1E1E1E;

  /* custom breakpoint */
  --breakpoint-xs: 400px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-bgLight text-black dark:bg-darkBg dark:text-white transition-all duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}